{% load static %}
<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Dashboard</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href={% static "assets/css/main.css" %} />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="{% url 'index' %}" class="logo"><strong>Restaurante Universitário</strong></a>
			<nav id="nav">
				<a href="{% url 'index' %}">Home</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>


	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h2>Cadastro de GRU</h2>
			</header>
			<!-- Form -->
			<form method="post" action="#">
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="text" name="demo-cpf" id="demo-cpf" value="" placeholder="CPF" />
					</div>
					<!-- Break -->
					<div class="12u$">
						<div class="select-wrapper">
							<select name="demo-category" id="demo-category">
								<option value="">- Categoria -</option>
								<option value="1">Aluno</option>
								<option value="1">Mestrando</option>
								<option value="1">Servidor</option>
							</select>
						</div>
					</div>
					<div class="6u 12u$(xsmall)">
						<input type="text" name="demo-cod" id="demo-cod" value="" placeholder="Código" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="text" name="demo-valor" id="demo-valor" value="" placeholder="Valor" />
					</div>
					<section class="-9u 6u(medium) 12u$(small)">
						<button>Confirmar</button>
					</section>

				</div>
			</form>

			<hr />
	</section>

	<!-- Scripts -->
	<script src={% static "assets/js/jquery.min.js" %}></script>
	<script src={% static "assets/js/skel.min.js" %}></script>
	<script src={% static "assets/js/util.js" %}></script>
	<script src={% static "assets/js/main.js" %}></script>
</body>

</html>