{% extends 'base.html'%}

{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>O que deseja fazer?</h2>
        </header>

        <!-- Intro -->
        <div class="row">
            <section class="-3u 12u$(small)">
                <h3>Cadastrar GRU</h3>
                <button>Clique Aqui</button>
            </section>
            <section class="-2u 12u$(medium)">
                <h3>Consultar Aluno</h3>
                <button>Clique Aqui</button>
            </section>
        </div>
    </div>
</section>
{% endblock %}