{% load static %}
<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static "assets/css/main.css" %} />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="{% url 'index' %}" class="logo"><strong>Restaurante Universitário</strong></a>
            <nav id="nav">
                <a href="{% url 'index' %}">Home</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>Aluno Bolsista</h2>
            </header>
            <!-- Form -->
            <form method="post" action="#">
                <div class="row uniform">
                    <div class="9u 12u$(small)">
                        <input type="text" name="a-nome" id="q-nome" value="Fernanda Santos"
                            placeholder="Fernanda Santos" />
                    </div>
                    <div class="9u 12u$(small)">
                        <input type="text" name="a-matricula" id="a-matricula" value="123456789"
                            placeholder="123456789" />
                    </div>
                    <div class="9u 12u$(small)">
                        <input type="text" name="q-nome" id="a-cpf" value="11998877661" placeholder="11998877661" />
                    </div>
                </div>
            </form>
        </div>
        <hr />
    </section>

    <!-- Scripts -->
    <script src={% static "assets/js/jquery.min.js" %}></script>
    <script src={% static "assets/js/skel.min.js" %}></script>
    <script src={% static "assets/js/util.js" %}></script>
    <script src={% static "assets/js/main.js" %}></script>
</body>

</html>